* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: white;
    background-image: url("../asset/post-it.jpg");
    background-size: cover;
}

.Paper {
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 100px;
}

.account {
    padding-top: 25px;
    padding-bottom: 15px;
}

.registrarse {
    justify-content: center;
    text-align: center;
    margin-left: 77px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}